html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Maven Pro', sans-serif;
}

.navbar-header {
    color: #fff;
    background: #019CDB;
    text-align: center;
    width: 100%;
}

.navbar-header h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.category {
    text-align: center;
}

button.question {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.modal {
    position: absolute;
    overflow: inherit;
}

.modal-header {
    min-height: 50px;
}

.modal-question, .modal-answer {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.modal-answer > h1 {
    font-weight: bold;
}

.modal-answer > img {
    margin: 15px;
}

.modal-question > pre, .modal-answer > pre {
    font-size: inherit;
    margin: 30px;
    font-weight: bold;
    text-align: left;
}

.modal-footer {
    text-align: center;
}

#question-modal-dialog {
    width: 1024px;
}

#answer-modal-dialog {
    width: 1200px;
}

#category-container {
    margin-top: 25px;
}

.category-desc {
    margin-bottom: 20px;
}

.category button {
    height: 100px;
    font-size: 50px;
}

.category.category__0 button {
    background: #009BA7;
    border-color: #009BA7;
}

.category.category__1 button {
    background: #98C21F;
    border-color: #98C21F;
}

.category.category__2 button {
    background: #019CDB;
    border-color: #019CDB;
}

.category.category__3 button {
    background: #DBE200;
    border-color: #DBE200;
}

.category .btn-secondary {
    background: #ebebeb !important;
    border-color: #adadad !important;
}